<html>
    <body>
        <p>Hei!</p>

        <p>Dette er en bekreftelse på at du har søkt {{ crew.name }} hos {{ name }}.</a>

        <p>En chief vil snart gå igjennom søknaden din. I prinsipp prøver vi å svare alle søknader før billettsalget åpner.</p>

        <p>Ved spørsmål kan du kontakte <a href="mailto:{{mail}}">{{mail}}</a></p>

    </body>
</html>