<html>
    <body>
        <p>Hei!</p>

        <p>Du søkte følgende crew hos {{ name }}:</p>
        <ol>
        {% for crew_mapping in application.crews %}
                <li>{{ crew_mapping.crew.name }}</li>
        {% endfor %}
        </ol>
        <p>Vi har nå behandlet søknaden din, og resultater er...</p>
{% if accepted %}
        <p><b>Du har blitt tatt opp i {{ accepted_crew.name }}!</b></p>
        <p>Velkommen til {{ name }}! Vi setter pris på at du også ønsker å hjelpe til med å lage et fett arrangement, og gleder oss til å jobbe med deg.</p>
        <p>Du vil få mer informasjon fra din gruppeleder i løpet av de neste ukene. I mellomtiden anbefaler vi deg å gå inn på <a href="{{ domain }}">{{ domain }}</a> og bli med i vår Discord slik at du kan holde kontakt med crewet ditt.</p>
        <p>I tillegg har du fått følgende beskjed fra søknadsbehandler:</p>
        <p><i>{{ application.answer }}</i></p>
        <p>Sees!</p>
{% else %}
        <p><b>Du har desverre ikke blitt tatt opp i noen av crewene du søkte</b><p>
        <p>Vi har mange søkere og begrenset plass, så det kan være vanskelig å få plas til alle som vil. Noen crew fylles også opp ganske fort - prøv å søke andre crew!</p>
        <p>Søknadsbehandleren din skrev følgende som begrunnelse:<p>
        <p><i>{{ application.answer }}</i></p>
        <p>Vi vil uansett takke deg for at du er ivrig etter å bli med på å gjøre {{ name }} til et fett sted å være. Vi håper du ikke mister håpet, og at du søker igjen senere. Du er selvfølgelig velkommen som deltaker.</p>
{% endif %}
        <p>Har du spørsmål, kontakt <a href="mailto:{{mail}}">{{mail}}</a>.</p>
    </body>
</html>