<html>
    <body>
        <p>Hei!</p>

        <p>Dette er en bekreftelse på at du har søkt crew hos {{ name }}. Vi har mottatt søknad for følgende crew:</p>

        <ol>
        {% for crew in crew_list %}
            <li>{{ crew.name }}</li>
        {% endfor %}
        </ol>

        <p>En chief vil snart gå igjennom søknaden din.</p>

        <p>Ved spørsmål kan du kontakte <a href="mailto:{{mail}}">{{mail}}</a></p>

    </body>
</html>