<html>
    <body>
        <p>Hei!</p>

        <p>Du får denne mailen fordi du har fjernet tilkoblingen for Discord-kontoen koblet til din konto hos {{ name }}({{ domain }})</p>

        <p>Dersom det ikke var deg som gjorde dette, kontakt <a href="mailto:{{mail}}">{{mail}}</a> snarest.</p>
    </body>
</html>