<html>
    <body>
        <p>Hei!</p>

        <p>Noen har tilbakestilt passordet for kontoen tilknyttet denne e-post addressen hos {{ name }}({{ domain }}) </p>

        <p>Dersom det ikke var deg som gjorde dette, kontakt <a href="mailto:{{mail}}">{{mail}}</a> snarest.</p>

    </body>
</html>