<html>
    <body>
        <p>Hei!</p>

        <p>Noen har søkt om tilbakestilling av passord hos {{ name }}({{ domain }}) for kontoen tilknyttet denne e-post addressen</p>

        <p>For å tilbakestille passordet ditt, klikk <a href="{{ resetUrl }}">her</a>, eller besøk {{ resetUrl }}</p>

        <p>Dersom det ikke var deg som forespurte endringen, kontakt <a href="mailto:{{mail}}">{{mail}}</a> snarest.</p>

    </body>
</html>