<html>
    <body>
        {{ body }}

        <p><i>Du mottar denne mailen fordi du har samtykket til å motta e-poster om kommende arrangementer hos {{ name }}. Du samtykket i forbindelse med <code>{{ consent_occasion }}</code> {{ consent_time }}. Du kan trekke tilbake samtykket ved å besøke <a href="{{ consent_withdrawal_url }}">{{ consent_withdrawal_url }}</a></i></p>
        <p>Spørsmål? <a href="mailto:{{mail}}">{{mail}}</a></p>
    </body>
</html>