<html>
    <body>
        {{ body }}

        <p><i>Du mottar denne mailen fordi du er registrert som deltaker hos {{ name }}. Denne e-posten inneholder viktig informasjon om arrangementet vi ser på som nødvendig å gi til deg som deltaker for å levere tjenesten vår.</i></p>
        <p>Spørsmål? <a href="mailto:{{mail}}">{{mail}}</a></p>
    </body>
</html>