<html>
    <body>
    <p>Hei!</p>

    <p>Du mottar denne mailen fordi du har registrert en bruker hos {{ name }} som må bli aktivert før du kan bruke den.</p>

    <p>Du aktiverer kontoen ved å besøke <a href="{{ activationUrl }}">{{ activationUrl }}</a></p>

    <p>Dersom du ikke lagde en konto hos oss, kan du kontakte <a href="mailto:{{mail}}">{{mail}}</a></p>

    </body>
</html>