<html>
    <body>
        <p>Hei!</p>

        <p>Du har mottatt et billett-gavekort for {{ name }} ({{ domain }})</p>
        <p>Denne kan konverteres til en billett fram til og med {{ last_use_event.name }}. Du kan fritt velge hvilket arrangement du vil være med på.</p>

        <p><b>Dette er ikke en billett!</b> Du må konvertere det til en billett for å kunne velge plass og delta. Dette gjør du på {{ domain }}</p>

        <p>Dersom du har spørsmål, kontakt <a href="mailto:{{mail}}">{{mail}}</a></p>
    </body>
</html>