
<html>
    <body>
        <p>Hei!</p>

        <p>Du har mottatt en {{ type }}-billett hos {{ name }}({{ domain }}) for kontoen tilknyttet denne e-post addressen</p>
        <p>Logg på for å plassere billetten på et sete</p>

        <p>Spørsmål? Kontakt <a href="mailto:{{mail}}">{{mail}}</a></p>

    </body>
</html>