<html>
    <body>
        <p>Hei!</p>

        <p>{{ sender.firstname }} {{ sender.lastname }} har angret på overføringen av billett #{{ ticket.ticket_id }} ({{ ticket.ticket_type.name }}) hos {{ name }}({{ domain }}) til kontoen tilknyttet denne e-post addressen</p>

        <p>Dersom du mistenker å ha blitt svindlet, eller har andre spørsmål, kontakt <a href="mailto:{{mail}}">{{mail}}</a></p>

    </body>
</html>