<html>
    <body>
        <p>Hei!</p>

        <p>Du angret overføringen av billett #{{ ticket.ticket_id }} ({{ ticket.ticket_type.name }}) hos {{ name }}({{ domain }})</p>
        <p>Mottakeren har blitt informert.</p>

        <p>Var det ikke deg som gjorde dette? Andre spørsmål? Kontakt <a href="mailto:{{mail}}">{{mail}}</a></p>

    </body>
</html>