name: build-prod
on: 
  push:
    branches:
    - master
jobs:
  run_tests:
    secrets: inherit
    uses: ./.github/workflows/test.yml
  build_docker-prod:
    runs-on: ubuntu-latest
    needs: run_tests
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Determine version
        id: version
        run: |
          export MAJOR=$( git describe --abbrev=0 | cut -d. -f1)
          export MINOR=$(git describe --abbrev=0 | cut -d. -f2)
          export PATCH=$( git describe --abbrev=0 | cut -d. -f3 )
          export DIST_FROM_TAG=$(git describe | cut -d- -f2)
          echo "Detected tag: $MAJOR.$MINOR.$PATCH"
          export NEW_PATCH=$(($PATCH+$DIST_FROM_TAG))
          export NEW_VERSION=$(echo "$MAJOR.$MINOR.$NEW_PATCH")
          echo "Determined new tag: $NEW_VERSION"
          echo "VERSION=$NEW_VERSION" >> "$GITHUB_OUTPUT"
          echo -e \"$NEW_VERSION,${GITHUB_SHA}\" > .tags
      - name: Login to docker repo
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          file: "docker/production/Dockerfile"
          context: .
          push: true
          tags: |
            ghcr.io/phoenixlan/${{ github.event.repository.name }}:${{ steps.version.outputs.VERSION }}
