name: build-api
on: 
  push:
    branches:
    - !master
jobs:
  run_tests:
    secrets: inherit
    uses: ./.github/workflows/test.yml
  build_docker-test:
    runs-on: ubuntu-latest
    needs: run_tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to docker repo
        uses: docker/login-action@v2
        with:
          registry: docker.infra.phoenixlan.no
          username: ${{ secrets.REGISTRY_USERNAME}}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          file: "docker/test/Dockerfile"
          context: .
          push: true
          tags: |
            docker.infra.phoenixlan.no/web/${{ github.event.repository.name }}-test:latest
            docker.infra.phoenixlan.no/web/${{ github.event.repository.name }}-test:${{ github.sha }}
