name: build-prod
on: 
 - workflow_dispatch
jobs:
  run_tests:
    secrets: inherit
    uses: ./.github/workflows/test.yml
  build_docker-prod:
    runs-on: ubuntu-latest
    needs: run_tests
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to docker repo
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          file: "docker/production/Dockerfile"
          context: .
          push: true
          tags: |
            ghcr.io/phoenixlan/${{ github.event.repository.name }}-prod:latest
            ghcr.io/phoenixlan/${{ github.event.repository.name }}-prod:${{ github.sha }}
